<ion-side-menu side="right">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Infomation</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">developler</div>
      <a class="item item-icon-left" ng-click="openLink('http://mitsuruog.github.io/x-mitsuruog/')">
        <i class="icon ion-social-github"></i>
        mitsuruog
      </a>
      <div class="item">version: 0.0.1</div>
      <div class="item item-divider">other</div>
      <a class="item item-icon-right">
        Rate app
        <i class="icon ion-android-open"></i>
      </a>
    </div>
  </ion-content>
</ion-side-menu>
